* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    font-family: 'Oxygen', sans-serif;
    background-image: url(../Imagenes/Patron\ transparentee.png);
}
/*---------INDEX--------*/

/*---------menu-----------*/

nav {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo_tato img {
    width: 30%;
}
.menu {
    display: flex;
}
.menu a {
    display: flex;
    color: black;
    padding: 20px;
}
.menu a:hover {
    background: rgb(1, 88, 1);
    color: yellow;
    border-radius: 5px;
}
@media (max-width:1024px){
    .menu{
        font-size: 10px;
    }
    .logo_tato img{
        width: 65px;
    }
}
@media (max-width:770px){
    .logo_tato img{
        width: 60px;
    }
    .menu{
        font-size: 8px;
    }
}
@media (max-width:600px){
    .logo_tato img{
        width: 55px;
    }
    .menu{
        font-size: 7px;
    }
}
@media (max-width:480px){
    .logo_tato img{
        width: 50px;
    }
    .menu{
        font-size: 6px;
    }
}
@media (max-width:350px){
    .logo_tato img{
        width: 45px;
    }
}

/*-------------banner---------------*/

.slider {
    width: 100%;
    height: 400px;
    overflow:hidden;
    border: 10px ridge;
}
.slider ul {
    display: flex;
    animation: cambio 15s infinite alternate;
    animation-timing-function: ease-in;
    width: 400%;
}
.slider li {
    width: 100%;
}
.slider img {
    width: 100%;
}
@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media (max-width:900px){
    .slider{
        height: 300px;
    }
}
@media (max-width:600px){
    .slider{
        height: 200px;
    }
}
@media (max-width:380px){
    .slider{
        height: 120px;
    }
}

/*------Central de registro-------*/

.intro-y-registro {
    padding: 4em 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.intro {
    font-size: 20px;
    text-align: center;
    width: 20%;
}
.registro {
    border: 1em ridge;
}
.usuario {
    margin: 3em 2em;
    text-align: center;
}
.contrasena {
    margin: 3em 2em;
    text-align: center;
}
.boton {
    color: white;
    background-color: black;
    padding: 15px; 
    border-radius: 1em;
    cursor: pointer;
    margin: 1em 4em;
}
.boton:hover {
    background-color: rgb(1, 88, 1);
}
.registrarse {
    text-decoration: underline;
    color: rgb(1, 88, 1);
}
.gif {
    width: 20%;
}
@media (max-width:900px){
    .intro{
        font-size: 13px;
    }
    .boton{
        padding: 10px;
    }
}
@media (max-width:500px){
    .intro{
        font-size: 10px;
        width: auto;
        margin-bottom: 20px;
    }
    .gif{
        width: 250px;
    }
}
@media (max-width:300px){
    .gif{
        width: 180px;
    }
}

/*----------foro-------*/

.foro{
    position: fixed;
    bottom: 10%;
    right: 5%;
    padding: 15px;
    background-color: #000;
    border-radius: 20%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: #fff solid 1px;
}
.foro:hover{
    background-color: rgb(1, 88, 1);
}
@media(max-width:900px){
    .foro{
        padding: 8px;
    }
}
@media (max-width:500px){
    .foro{
        padding: 5px;
        }
}

/*------------modal----------*/

.ventana_emergente {
    display: flex;
    width: 100%;
}
.registrarme {
    margin: auto;
    background-color: #000;
    color: #fff;
    padding: 1em;
    border-radius: 1em;
}
.registrarme:hover{
    background-color: rgb(1,88,1);
}
.modal {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    display: flex;
    z-index: 100;

    --opacity: 0;
    --pointer: none;

    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s;
}
.modal:target {
    --opacity: 1;
    --pointer: unset;

}
.modal_container {
    margin: auto;
    background-color: black;
    color: #fff;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow:auto;
    text-align: center;
    padding: 2.5em 1.5em;
    border-radius: 1em;
}
.modal_close {
    display: inline-block;
    padding: 1em;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1em;
}
.modal_close:hover{
    background: rgb(1,88,1);
}
.exit{
    font-size: 18px;
    float: right;
    color: #fff;
    padding: 3px;
}
.exit:hover{
    background: rgb(1, 88, 1);
}
hr{
    margin: 10px;
}
.iconos{
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}
.google{
    width: 40px;
}
.facebook{
    width: 40px;
}
@media (max-width:900px){
    .modal_close{
        padding: 10px;
    }
    .registrarme{
        padding: 10px;
    }
}

/*-------footer-------*/

.foot{
    margin-top: 5em;
}

.herramienta{
    width: 100px;
}

.ig_fb{
    cursor: pointer;
    margin: auto;
}
.ig{
    width: 40px;
}
.fb{
    width: 40px;
}
.firma{
    display: flex;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    cursor: pointer;
    color: #000;
}
@media (max-width:900px){
    .firma{
        font-size: 30px;
    }
    .ig{
        width: 30px;
    }
    .fb{
        width: 30px;
    }
    .herramienta{
        width: 80px;
    }
}
@media (max-width:900px){
    .firma{
        font-size: 25px;
    }
}

/*Pag 2 y 4 tiempos*/

.titulopags{
    text-align: center;
    margin: 20px;
}
.sec2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.video{
    display: flex;
    width: 400px;
    height: 400px;
}
.gifp2{
    width: 300px;
    height: 300px;
    display: flex;
}
.glosario{
    margin: 30px;
    text-align: center;
    font-size: 18px;
}
.VyD{
    display: block;
    margin: 30px auto;
    text-align: center;
    width: 500px;
}
td{
    padding: 10px;
}
.misfav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.motos_muestra{
    opacity: .3;
    border: ridge 5px #000;
    transition: all 400ms;
}
.motos_muestra:hover{
    opacity: 1;
    transform: scale(1.15);
}
@media (max-width:700px){
    .titulopags{
        font-size: 25px;
    }
    .glosario{
        font-size: 13px;
    }
    .sec2{
        display: block;
        width: auto;
    }
    .video{
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .gifp2{
        margin: 20px auto;
    }
    .VyD{
        width: 100%;
    }
    td{
        font-size: 13px;
    }
    .motos_muestra{
        width: 200px;
        height: 200px;
        margin: 30px auto;
        display: block;
    }
}

    /*---------Hacelo vos-----------*/

.hacelo_vos{
    width: 80%;
    height: 80vh;
    display: grid;
    border: dashed 3px rgba(0,0,0,.3);
    border-radius: 15px;
    margin: 20px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "img1 img1 p1"
    "p2 img2 img2"
    "img3 img3 p3"
    "p4 img4 img4"
    "prox prox prox"
    ;
    gap: 15px;
    overflow: auto;
}
.links{
    margin: 5% 8%;
    display: grid;
    height: 50vh;
    border-radius: 30px;
    justify-items: center;
    align-items: center;
    transition: all 500ms;
}
.info{
    background-image: linear-gradient(rgba(255,255,0,.3),rgba(1,88,1,.3));
    margin: 10% 10% 0% 10%;
    font-size: 16px;
    display: grid;
    height: 50vh;
    border-radius: 30px;
    text-align: center;
    justify-items: center;
    align-items: center;
    transition: all 500ms;
}
.img1{
    grid-area: img1;
    background-image: url(../Imagenes/hv1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img2{
    grid-area: img2;
    background-image: url(../Imagenes/hv2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img3{
    grid-area: img3;
    background-image: url(../Imagenes/hv3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img4{
    grid-area: img4;
    background-image: url(../Imagenes/hv4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.prox{
    grid-area: prox;
    background-image: linear-gradient(to left,yellow, green);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Tangerine', cursive;
    font-size: 100px;
}
.prox:hover{
    text-decoration: underline 2px;
    color: #fff;
}
.links:hover{
    cursor: pointer;
    transform: scale(1.15);
}

@media (max-width:900px){
    .prox{
        font-size: 50px;
    }
    .img1 .img2 .img3 .img4{
        width: 300px;
    }
    .video_modal{
        width: 400px;
    }
    .hacelo_vos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        "img1"
        "p1"
        "img2"
        "p2"
        "img3"
        "p3"
        "img4"
        "p4"
        "prox"
        ;
    }
}
@media (max-width:1100px){
    .info{
        font-size: 12px;
    }
}
@media (max-width:600px){
    .video_modal{
        width: 350px;
    }
}
@media (max-width:480px){
    .prox{
        font-size: 30px;
    }
    .links{
        background-size: 450px;
    }
    .video_modal{
        width: 250px;
    }
}
@media (max-width:350px){
    .video_modal{
        width: 200px;
    }
}

/*------Foro-----*/

.pagforo{
    width: 80%;
    height: 80vh;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "a b b"
    "a b b"
    "a b b"
    "a c c"
    ;
    gap: 20px;
    transition: all 600ms;
}
.ask{
    border: ridge 5px;
}
.a{
    grid-area: a;
    font-style: italic;
    text-align: center;
    line-height: 2;
    overflow: auto;
}
.aa{
    color: #000;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
    border: none;
}
h3{
    margin: 30px auto;
}
.respuestas{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.aa:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(1,88,1);
}
.galeria{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery{
    width: 300px;
    height: 300px;
    margin: 15px auto;
    opacity: .2;
}
.gallery:hover{
    cursor: pointer;
    border: ridge 4px;
    opacity: 1;
    transform: scale(1.20);
}
@media (max-width:900px){
    .pagforo{
        height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 300px 300px;
        grid-template-areas:
        "c"
        "b"
        "a"
        ;
    }
    .c{
        height: 100px;
    }
    .aa{
        font-size: 12px;
    }
    .reply{
        font-size: 12px;
    }
    h3{
        font-size: 14px;
    }
    .gallery{
        width: 250px;
        height: 250px;
    }
}

    /*caja de comentarios*/
.b{
    overflow: auto;
}
.consultas{
    display: flex;
}
.user{
    width: 50px;
    height: 50px;
    border: solid #000 1px;
    margin: 20px;
    cursor: pointer;
}
h5{
    margin: 30px 0px;
    color: rgb(15, 15, 155);
    text-decoration: underline;
    cursor: pointer;
}
.bb{
    margin: 30px;
    font-size: 13px;
    color: gray;
}
.pregunta{
    margin: 0px auto;
    text-align: justify;
    width: 70%;
    font-size: 14px;
}
.reacciones{
    margin: 20px 20px;
}
.comentar{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.comentario{
    margin: 30px 10px;
    width: 70%;
    padding: 20px;
}
.enviar_comentario{
    margin: 30px 10px;
    padding: 20px;
    background-image: linear-gradient(to left,yellow, green);
    cursor: pointer;
    transition: all 1000ms;
}
.enviar_comentario:hover{
    background-image: linear-gradient(to right,yellow, green);
    transform: scale(1.10);
}